@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md dark:border-gray-600 dark:bg-gray-700 dark:text-white placeholder-gray-400;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #f4f4f4;
}

input,
select {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.h-48 {
  height: 16rem;
}